node_modules
dist
.env
.env.local
*.log
.DS_Store
Thumbs.db
server/uploads/images/*
server/uploads/videos/*
server/uploads/profiles/*
server/uploads/tmp/*
!server/uploads/**/.gitkeep
.idea
.vscode
coverage
